# file: .gitignore
# Linktester (version 0.1 beta)
# dimishpatriot@github.com, 2020


# files
debug.*
*.log
*.sublime*
*.ipynb


# folders
log/
venv/
__pycache__/
.pytest_cashe/
.ipynb_checkpoints/

